*{
  margin: 0px;
  padding: 0px;
}

h3{
  width: 80%;
  border-radius: 8px;
  border: 1px solid rgb(28, 160, 236);
  text-align: center;
  background-color: rgb(90, 195, 236);
  padding: 10px;
  margin-left: 70px;
}

.card_div{
  display: flexbox;
}